{% extends 'corp/base.html' %}
{% load static %}
{% block content %}
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html"></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="about">About</a></li>
					<li><a href="enterprise">Enterprise</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
            <h2>About</h2>
						<p>Software</p>
					</header>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style2">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>acknowledgements</p>
								<h2>Technology</h2>
                <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif" border="0" alt="Powered by Django." title="Powered by Django." /></a>
                <hr/>
                  <img src="{% static "corp/icons/python-logo.png" %}"</img>
                <hr/>
                <div>
                  <p>Template adapted from Hielos by <a href="https://templated.co">TEMPLATED</a></p>
                </div>
                <hr/>
							</header>
							<p></p>
						</div>
					</div>
				</div>
			</section>
      <!-- Two -->
  		<section id="two" class="wrapper style3">
  			<div class="inner">
  				<header class="align-center">
  					<!--<p>small text</p>
  					<h2>Large text</h2>-->
					</header>
        </div>
  		</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
            <li><a href="https://twitter.com/weeksoid" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://github.com/controlcode" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:rich@controlcode.co.uk" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            <li><a href="https://www.linkedin.com/company/3024363/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; 2012-2018. All rights reserved.
				</div>
			</footer>
{% endblock %}
