		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/weeksoid" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
						<li><a href="https://www.instagram.com/controlcode/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/controlcode" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:rich@controlcode.co.uk" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            <li><a href="https://www.linkedin.com/company/3024363/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
				</div>
			<div class="copyright">
					&copy; 2012-2018. All rights reserved.
				</div>
			</footer>