{% extends 'corp/base.html' %}
{% load static %}
{% block content %}
	 <!-- Header -->
		<header id="header" class="alt">
			<div class="logo"><a href="index.html"></a></div>
			<a href="#menu">Menu</a>
		</header>

     <!-- Nav -->
		<nav id="menu">
			 <ul class="links">
					<li><a href="index">Home</a></li>
					<li><a href="enterprise">Enterprise</a></li>
					<li><a href="about">About</a></li>
			 </ul>
		</nav>

		<!-- Banner -->
          <section class="banner full">
    				<article>
    					<img src="{% static "corp/images/slide01.jpg" %}" alt="image1" />
    					<div class="inner">
    						<header>
    							<p>Welcome</p>
    							<h2>Text</h2>
    						</header>
    					</div>
    				</article>
    				<article>
    					<img src="{% static "corp/images/slide06.jpg" %}" alt="image2" />
    					<div class="inner">
    						<header>
    							<p>Lorem ipsum dolor sit amet nullam feugiat</p>
    							<h2>Magna etiam</h2>
    						</header>
    					</div>
    				</article>
    				<article>
    					<img src="{% static "corp/images/slide03.jpg" %}" alt="image3" />
    					<div class="inner">
    						<header>
    							<p>Sed cursus aliuam veroeros lorem ipsum nullam</p>
    							<h2>Tempus dolor</h2>
    						</header>
    					</div>
    				</article>
    				<article>
    					<img src="{% static "corp/images/slide04.jpg" %}" alt="image4" />
    					<div class="inner">
    						<header>
    							<p>Adipiscing lorem ipsum feugiat sed phasellus consequat</p>
    							<h2>Etiam feugiat</h2>
    						</header>
    					</div>
    				</article>
    				<article>
    					<img src="{% static "corp/images/slide07.jpg" %}" alt="image5" />
    					<div class="inner">
    						<header>
    							<p>Ipsum dolor sed magna veroeros lorem ipsum</p>
    							<h2>Lorem adipiscing</h2>
    						</header>
    					</div>
    				</article>
            <article>
    					<img src="{% static "corp/images/slide08.jpg" %}" alt="image5" />
    					<div class="inner">
    						<header>
    							<p>Ipsum dolor sed magna veroeros lorem ipsum</p>
    							<h2>Lorem adipiscing</h2>
    						</header>
    					</div>
    				</article>
    			</section>

          <!-- One -->
      			<section id="one" class="wrapper style2">
      				<div class="inner">
      					<div class="grid-style">

      						<div>
      							<div class="box">
      								<div class="image fit">
      									<img src="{% static "corp/images/pic02.jpg" %}" alt="" />
      								</div>
      								<div class="content">
      									<header class="align-center">
      										<p>Software engineering</p>
      										<h2>Lorem ipsum dolor</h2>
      									</header>
      									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
      									<footer class="align-center">
      										<a href="#" class="button alt">Learn More</a>
      									</footer>
      								</div>
      							</div>
      						</div>

                  <div>
      							<div class="box">
      								<div class="image fit">
      									<img src="{% static "corp/images/pic03.jpg" %}" alt="" />
      								</div>
      								<div class="content">
      									<header class="align-center">
      										<p>mattis elementum sapien pretium tellus</p>
      										<h2>Vestibulum sit amet</h2>
      									</header>
      									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
      									<footer class="align-center">
      										<a href="#" class="button alt">Learn More</a>
      									</footer>
      								</div>
      							</div>
      						</div>

      					</div>
      				</div>
      			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://twitter.com/weeksoid" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
						<li><a href="https://www.instagram.com/controlcode/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/controlcode" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="mailto:rich@controlcode.co.uk" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
            <li><a href="https://www.linkedin.com/company/3024363/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
					</ul>
				</div>
			<div class="copyright">
					&copy; 2012-2018. All rights reserved.
				</div>
			</footer>
{% endblock %}
